#body
{
    background-color: whitesmoke;
}
#txtFirst_name, #txtLast_name, #txtStore_name
{
    text-transform: uppercase;
}
#card_body
{
    background-color: white;
}
#card_footer
{
    background-color: white;
}
#nav_bar
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
hr
{
    background-color: #0c0c0c;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#col_information
{
    border-right: solid #343a40;
}
#col_product
{
    border-left: solid #343a40;
}
input[type=text]
{
    border-color: #343a40;
}
.tableheaders
{
    font-size: 180%;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th
{
    background-color: #343a40;
}
.table-striped tbody tr:nth-child(even) td, .table-striped thead tr:nth-child(even) th
{
    background-color: #6c757d;

    color:#fff;
}
#lblShow_Address, #lblShow_orders, #lblSearch_orders, #lblSearch_Address
{
    color: black;
}
#table_Address_info, #table_orders
{
    color: white;
}
.paginate_button
{
    background-color: #343a40;
}
.paging_simple_numbers
{
    color: white;
}