#body
{
    background-color: whitesmoke;
}
#bg-green
{
    background-color: #036d45;
}
#bg-green_product
{
    background-color: #036d45;
    border-radius: 4%;
}
#btnOrderMangosteen, #btnOrderMalunggay
{
    background-color: whitesmoke;
    color: #036d45;
}
#font_green, #lbl_first_name, #lblUsername, #lblPassword, #lblshowpassword, #lblPhone_number,
#lbl_store_name, #lbl_address, #lbl_product_name, #lbl_amount, #lblQty, #lbl_Amount, #lblDiscount
{
    color: #036d45;
}
#login_title
{
    color: #036d45;
}
#Jicsam_Login
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#malunggay_img
{
    width: 100%;
    height: 400px;
}
#txtUsername, #txtPassword
{
    border-color: #036d45;
}
#chkShowPass
{
    background-color: #036d45;
}
#lblshowpassword, #lblPassword, #lblUsername, #lblList
{
    color: #036d45;
}
#dark-nav
{
    background-color: #036d45;
}
#create_account
{
    background-color: white;
    padding-left: 5%;
}
#txtFirst_name, #txtLast_name, #txtStore_name
{
    text-transform: uppercase;
}
#card_body
{
    background-color: white;
}
#card_footer
{
    background-color: white;
}
#nav_bar
{
    background-color: #036d45;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
hr
{
    background-color: #036d45;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#col_information, #col_products, #col_change_price
{
    border-right: solid #036d45;
}
#col_product, #col_payment
{
    border-left: solid #343a40;
}
input[type=text],[type=number],[type=password],[type=date]
{
    border-color: #343a40;
}
.tableheaders
{
    font-size: 130%;
    background-color: #036d45;
}
.linement
{
    font-size: 90%;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th
{
    background-color: lightgray;

    color: black;
}
.table-striped tbody tr:nth-child(even) td, .table-striped thead tr:nth-child(even) th
{
    background-color: darkgray;

    color: black;
}
#lblShow_Address, #lblShow_orders, #lblSearch_orders, #lblSearch_Address, #lblShow_Transactions, #lblSearch_Transactions, #lblShow_Expenses, #lblSearch_Expenses
{
    color: #036d45;
}
#table_Address_info, #table_orders, #table_Expenses
{
    color: white;
}
.paginate_button
{
    background-color: #036d45;
}
.paging_simple_numbers
{
    color: white;
}
#paginate_buttons
{
    color: black;
}
#dropdrop
{
    border-color: #036d45;
    background-color: #036d45;
    color: lightgray;
}
.center
{
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
}
#username_icon, #password_icon
{
    background-color: #036d45;
    padding-right: 8%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#icon_username
{
    color: white;
    margin-left: 65%;
    margin-top: 50%;
}
#icon_password
{
    color: white;
    margin-left: 65%;
    margin-top: 40%;
}

/* Full-width input fields */
input[name=txtDateDelivery],[name=txtDatePaid]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Set a style for all buttons */
button[name=buttonPaymentDone] {
    background-color: #343a40;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Set a style for all buttons */
button[name=buttonDeliveryDone] {
    background-color: #343a40;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover[name=buttonDeliveryDone] {
    opacity:1;
}

button:hover[name=buttonDeliveryDone] {
    opacity:1;
}

/* Set a style for all buttons */
button[name=buttonCancelOrder] {
    background-color: #343a40;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover[name=buttonCancelOrder] {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
#slcEntries_orders
{
    background-color: #036d45;
}
#table_orders_info
{
    color: #036d45;
}
.btn
{
    background-color: #036d45;
}